body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.iconssocial{
    width: 30px;
    margin: 0px 20px;
}


.navbar-brand{
    font-weight: 700;
}

.navbar{
    
    border-bottom:1px solid rgba(0, 0, 0, 0.253) ;
    margin-bottom: 20px;
}

.container-fluid{
    margin: 0px 60px;
}

.card-title{
    font-size: 40px;
}
.img{
    height: 100% !important;
}

.btn{
    border: 1px solid rgba(128, 128, 128, 0.411);
    width: 100px;
}

.carouselmain{
    width: 70%;
  
    margin: auto;
    margin-top: 80px;
}

.gallery{
    text-align: center;
    margin: 80px 0px;
    font-size: 50px;
}

.card-img-top{
    width: 50px;
    text-align: center;
    margin: auto;
}


.cardscontainer{
    display: flex;
    justify-content: center;
    
}

.card{
    margin: 40px;
    border: none;
}

.cards{
    border-right: 1px solid rgba(0, 0, 0, 0.178);
}

.name, .card-text{
    margin: 20px 0px;
}

.name{
    text-align: center;
}

.card-text{
    font-size: 13px;
}


.textareaa{
    height: 100px;
}

.boxtextarea{
    display: flex;
    justify-content: space-between;

}

.bottomform{
    margin: auto;
}

.form-label, .form-check-label {
    font-weight: 500;
}

.undersocial{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn{
    border: 1px solid rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) { 
    .cards1{
        position: absolute;
        bottom: -2500px;
    }
}
@media (max-width: 767px) { 
    .cards2{
        position: absolute;
        bottom: -3000px;
    }
}
@media (max-width: 767px) { 
    .cards3{
        position: absolute;
        bottom: -3500px;
    }
}
@media (max-width: 767px) { 
    .bottomform{
      margin-top: 1600px;
    }
}
@media (max-width: 767px) { 
    .img1{
     position: absolute;
     top: 0px;
    }
    .card-body1{
        margin-top: 300px;
    }
}
@media (max-width: 767px) { 
    .img3{
        position: absolute;
        top: 0px;
    }
    .card-body-3{
        margin-top: 400px;
    }
}









.undersocial > ul{
    list-style-type: none;
    margin: 0px;
}
.imga{
    width: 40px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 5px;
}

.undertext{
    text-align: center;
    margin-top: 40px;
    padding-left: 40px;
    color: rgba(0, 0, 0, 0.616);
}



