.iconssocial{
    width: 30px;
    margin: 0px 20px;
}

.navbar-brand{
    font-weight: 700;
}

.navbar{
    
    border-bottom:1px solid rgba(0, 0, 0, 0.253) ;
    margin-bottom: 100px;
}

.container-fluid{
    margin: 0px 60px;
}

.box{
    display: flex;
   
}
.container{
    margin-left: 200px;
}

.text{
    margin: auto;
}

.btn{
    border: 1px solid rgba(128, 128, 128, 0.411);
    width: 100px;
}

.carouselmain{
    width: 70%;
  
    margin: auto;
    margin-top: 80px;
}

.gallery{
    text-align: center;
    margin: 80px 0px;
    font-size: 50px;
}

.card-img-top{
    width: 50px;
    text-align: center;
    margin: auto;
}


.cardscontainer{
    display: flex;
    justify-content: center;
    
}

.card{
    margin: 40px;
    border: none;
}

.cards{
    border-right: 1px solid rgba(0, 0, 0, 0.178);
}

.name, .card-text{
    margin: 20px 0px;
}

.name{
    text-align: center;
}

.card-text{
    font-size: 13px;
}